.photos-container {
  text-align: center;
  background: repeating-linear-gradient(
    45deg,
    #e8e8e8,
    #d8d8d8 5px,
    #e8e8e8 5px,
    #d8d8d8 10px

  ) !important;
}

.photos-container img {
  padding: 0.2em;
  background: #ffffff !important;
}